.yellow-bg {
  background-image: url("images/qrdikrlnet8-fanny-rascle_4.jpg");
  color: #F77300;
}
.container {
  background-color: #FAFAFA;
}

.home-head {
  background-color: black;
  opacity: 0.75;
}
.discarted {
  color: grey;
  text-decoration: line-through;
}
